.container {
  width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > div {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 64px;
}

input {
  width: 60%;
  border: 1px solid #d3d3d3;
  outline: none;
  height: 45px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fcf9f9;
  padding-left: 10px;
  margin: 5px 0 25px;
  font-size: 24px;
}

select {
  width: 75px;
  border: 1px solid #d3d3d3;
  outline: none;
  height: 45px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fcf9f9;
  padding-left: 10px;
  margin: 5px 0 25px 10px;
  font-size: 15px;
}
